* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
    margin: 20px;
    padding: 10px;
}

#webpage {
    border: 2px solid red;
    background-color: white;
}

.header {
    overflow: auto;
    width: 1200px;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 180px;
}

.header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-left: 30px;
}

.header img {
    width: 1350px;
    height: 120px;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    justify-content: center;
}

.middle{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}

.brushes {
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.brushes img {
    margin-top: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p strong {
    font-weight: bold;
    color: blue;
}

.frames {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.frames img {
    width: 200px;
    height: 200px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.paint {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}